{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">Python Django MVC</h2>
  <p class="card-text"><i>Example: Django-Python </i></p>
  <p class="card-text">
	This is a webapp to demonstrate how to - <br>
		&emsp;&emsp; * upload an image <br>
		&emsp;&emsp; * process an image <br>
		&emsp;&emsp; * display the processed image <br>
  </p>
  <p class="card-text">
	<i>Info: </i><br>
    Mrinal Kanti Dhar<br>
    <a href="https://www.facebook.com/mrinal.kantidhar.3">@Mrinal</a>
	<!--
	<img src="http://127.0.0.1:8000/plot/"><br>
	-->
  </p>
{% endblock %}
